.top-page
  .top-page__header
    .top-page__header__box
      .top-page__header__box__logo
        = image_tag 'kensazemi.png'
.login
  .login__box
    %h2.login__h= t('.sign_in')
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .field
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "current-password"
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me
      .actions
        = f.submit t('.sign_in')
