= render "./layouts/header"
.study
  .study__box
    .study__box__wrap
      .study__box__wrap__lesson
        .study__box__wrap__lesson__img
          .lesson-img
            = "#{@subjects1.name}"
        - @articles1.each do |article|
          .study__box__wrap__lesson__that
            = link_to root_path, class:"lesson-change" do
              .study__box__wrap__lesson__that__move
                .thumbnail
                  = link_to article.title, article 
        .study__box__wrap__lesson__img
          .lesson-img
            = "#{@subjects2.name}"
        - @articles2.each do |article|
          .study__box__wrap__lesson__that
            = link_to root_path, class:"lesson-change" do
              .study__box__wrap__lesson__that__move
                .thumbnail
                  = link_to article.title, article 
        .study__box__wrap__lesson__img
          .lesson-img
            = "#{@subjects3.name}"
        - @articles3.each do |article|
          .study__box__wrap__lesson__that
            = link_to root_path, class:"lesson-change" do
              .study__box__wrap__lesson__that__move
                .thumbnail
                  = link_to article.title, article 
        .study__box__wrap__lesson__img
          .lesson-img
            = "#{@subjects4.name}"
        - @articles4.each do |article|
          .study__box__wrap__lesson__that
            = link_to root_path, class:"lesson-change" do
              .study__box__wrap__lesson__that__move
                .thumbnail
                  = link_to article.title, article 
        .study__box__wrap__lesson__img
          .lesson-img
            = "#{@subjects5.name}"
        - @articles5.each do |article|
          .study__box__wrap__lesson__that
            = link_to root_path, class:"lesson-change" do
              .study__box__wrap__lesson__that__move
                .thumbnail
                  = link_to article.title, article 
        .study__box__wrap__lesson__img
          .lesson-img
            = "#{@subjects6.name}"
        - @articles6.each do |article|
          .study__box__wrap__lesson__that
            = link_to root_path, class:"lesson-change" do
              .study__box__wrap__lesson__that__move
                .thumbnail
                  = link_to article.title, article 