%p#notice= notice
= render "./layouts/header"
.study
  .study__box
    %p.img-detail
      %b.img-detail__text
        = @article.title
    .movies
      = link_to @article.video_url.to_s do
        = image_tag(@article.video_url(:screenshot).to_s, id: "video", :alt => "screenshot")
    .article-topic
      学習のコツ
    .article-memo
      = @article.memo
    .changes
      -if @prev != nil
        = link_to '◀︎ Back', article_path(@prev.id),class: "changes__transition"
      -else
        = link_to '◀︎ TOP', articles_path,class: "changes__transition"
      　　|　　
      -if @next != nil
        = link_to 'Next ▶︎', article_path(@next.id),class: "changes__transition"
      -else
        = link_to 'TOP ▶︎', articles_path,class: "changes__transition"
