%p#notice= notice
= render "./layouts/header"
.study-second
  %dl#accordion
    -# - @subjects.each do |subject|
    -#   %dt
    -#     %a{:href => "#"}
    -#       = "#{subject.name}"
    -#   %dd
    -#   - @lesson = subject.id do
    -#     - @articles[@lesson].each do |article|
    -#       .pdfTag
    -#         = link_to "#{article.title}",article,class: "pdfree"
    %dt
      %a{:href => "#"} 
        = "#{@subjects1.name}"
    %dd
      - @sub1articles.each do |lesson|
        %a{:href => "#{lesson.id}"}
          ="#{lesson.title}"
    %dt
      %a{:href => "#"} 
        = "#{@subjects2.name}"
    %dd
      - @sub2articles.each do |lesson|
        %a{:href => "#{lesson.id}"}
          ="#{lesson.title}"
    %dt
      %a{:href => "#"} 
        = "#{@subjects3.name}"
    %dd
      - @sub3articles.each do |lesson|
        %a{:href => "#{lesson.id}"}
          ="#{lesson.title}"
    %dt
      %a{:href => "#"} 
        = "#{@subjects4.name}"
    %dd
      - @sub4articles.each do |lesson|
        %a{:href => "#{lesson.id}"}
          ="#{lesson.title}"
    %dt
      %a{:href => "#"} 
        = "#{@subjects5.name}"
    %dd
      - @sub5articles.each do |lesson|
        %a{:href => "#{lesson.id}"}
          ="#{lesson.title}"
    %dt
      %a{:href => "#"} 
        = "#{@subjects6.name}"
    %dd
      - @sub6articles.each do |lesson|
        %a{:href => "#{lesson.id}"}
          ="#{lesson.title}"
    %dt
      %a{:href => "#"} 
        = "#{@subjects7.name}"
    %dd
      - @sub7articles.each do |lesson|
        %a{:href => "#{lesson.id}"}
          ="#{lesson.title}"
    %dt
      %a{:href => "#"} 
        = "#{@subjects8.name}"
    %dd
      - @sub8articles.each do |lesson|
        %a{:href => "#{lesson.id}"}
          ="#{lesson.title}"
    .sidemenu
      = link_to root_path ,class: "sidelink" do
        TOPページへ
  .study-second__box
    %p.img-detail
      %b.img-detail__text
        = @article.title
    .movies
      = link_to @article.video_url.to_s do
        -# = image_tag(@article.video_url(:screenshot).to_s, id: "video", :alt => "screenshot")
      %video#my-video.video-js{:controls => "", :controlslist => "nodownload", "data-setup" => "#{@article.video}", :height => "200", :alt => "screenshot", :poster => "#{@article.video_url(:screenshot).to_s}", :preload => "auto", :width => "400"}
        %source{:src => "#{@article.video}", :type => "video/mp4"}
        %source{:src => "#{@article.video}", :type => "video/webm"}
        %p.vjs-no-js
    .article-topic
      .pdfname
        = link_to "#{@subject.name}PDFファイル",image_path,class:"pdfname__transition" 
      -# %a{:href => "#{image_path}"}
      -#   = "#{@subject.name}PDFファイル"
      -# = link_to @image, class:"changes" do
        -# a
    .article-memo
      = @article.memo
    .changes
      -if @prev != nil
        = link_to '◀︎ Back', article_path(@prev.id),class: "changes__transition"
      -else
        = link_to 'TOP', articles_path,class: "changes__transition"
      　　|　　
      -if @next != nil
        = link_to 'Next ▶︎', article_path(@next.id),class: "changes__transition"
      -else
        = link_to 'TOP', articles_path,class: "changes__transition"
  .phone-menu
    .phone-menu__box
      = link_to "#{@subject.name}PDFファイル",image_path,class:"changes"
  .lessonDetail
    = "#{@subject.name}学習項目一覧"
  .lessonitiran
    - @lesid.each do |lesson|
      %a{:href => "#{lesson.id}"}
        ="#{lesson.title}"