%p#notice= notice
= render "./layouts/header"
.study-second
  %dl#accordion
    %dt
      %a{:href => "#"}
        = "#{@subjects1.name}"
    %dd
      - @sub1articles.each do |lesson|
        %a{:href => "#{lesson.id}"}
          ="lesson #{lesson.lesson_id}"
      - @img1image.each do |image|
        .pdfTag
          -# = link_to "#{image.name}", image_path,class: "pdfree"
          %a{:href => "#{image.image}", :target => "_blank"} 
            = "#{image.name}"
    %dt
      %a{:href => "#"} 
        = "#{@subjects2.name}"
    %dd
      - @sub2articles.each do |lesson|
        %a{:href => "#{lesson.id}"}
          ="lesson #{lesson.lesson_id}"
      - @img2image.each do |image|
        .pdfTag
          -# = link_to "#{image.name}", image.subject_id,class: "pdfree"
          %a{:href => "#{image.image}", :target => "_blank"} 
            = "#{image.name}"
    %dt
      %a{:href => "#"} 
        = "#{@subjects3.name}"
    %dd
      - @sub3articles.each do |lesson|
        %a{:href => "#{lesson.id}"}
          ="lesson #{lesson.lesson_id}"
      - @img3image.each do |image|
        .pdfTag
          %a{:href => "#{image.image}", :target => "_blank"} 
            = "#{image.name}"
    %dt
      %a{:href => "#"} 
        = "#{@subjects4.name}"
    %dd
      - @sub4articles.each do |lesson|
        %a{:href => "#{lesson.id}"}
          ="lesson #{lesson.lesson_id}"
      - @img4image.each do |image|
        .pdfTag
          %a{:href => "#{image.image}", :target => "_blank"} 
            = "#{image.name}"
    %dt
      %a{:href => "#"} 
        = "#{@subjects5.name}"
    %dd
      - @sub5articles.each do |lesson|
        %a{:href => "#{lesson.id}"}
          ="lesson #{lesson.lesson_id}"
      - @img5image.each do |image|
        .pdfTag
          %a{:href => "#{image.image}", :target => "_blank"} 
            = "#{image.name}"
    %dt
      %a{:href => "#"} 
        = "#{@subjects6.name}"
    %dd
      - @sub6articles.each do |lesson|
        %a{:href => "#{lesson.id}"}
          ="lesson #{lesson.lesson_id}"
      - @img6image.each do |image|
        .pdfTag
          %a{:href => "#{image.image}", :target => "_blank"} 
            = "#{image.name}"
    %dt
      %a{:href => "#"} 
        = "#{@subjects7.name}"
    %dd
      - @sub7articles.each do |lesson|
        %a{:href => "#{lesson.id}"}
          ="lesson #{lesson.lesson_id}"
      - @img7image.each do |image|
        .pdfTag
          %a{:href => "#{image.image}", :target => "_blank"} 
            = "#{image.name}"
    %dt
      %a{:href => "#"} 
        = "#{@subjects8.name}"
    %dd
      - @sub8articles.each do |lesson|
        %a{:href => "#{lesson.id}"}
          ="lesson #{lesson.lesson_id}"
      - @img8image.each do |image|
        .pdfTag
          %a{:href => "#{image.image}", :target => "_blank"} 
            = "#{image.name}"
    .sidemenu
      = link_to root_path ,class: "sidelink" do
        TOPページへ
  .study-second__box
    %p.img-detail
      %b.img-detail__text
        = @article.title
    .movies
      = link_to @article.video_url.to_s do
        -# = image_tag(@article.video_url(:screenshot).to_s, id: "video", :alt => "screenshot")
      %video#my-video.video-js{:controls => "", :controlslist => "nodownload", "data-setup" => "#{@article.video}", :height => "200", :alt => "screenshot", :poster => "#{@article.video_url(:screenshot).to_s}", :preload => "auto", :width => "400"}
        %source{:src => "#{@article.video}", :type => "video/mp4"}
        %source{:src => "#{@article.video}", :type => "video/webm"}
        %p.vjs-no-js
    .article-topic
      -# 学習のコツ
    .article-memo
      = @article.memo