%p#notice= notice
= render "./layouts/header"
.study-second
  .sidemenu
    - @articles1.each do |article|
      = link_to article ,class: "sidemenu__box" do
        .sidelink
          オリエンテーション
    - @articles2.each do |article|
      = link_to article ,class: "sidemenu__box" do
        .sidelink
          臨床生理学
    - @articles3.each do |article|
      = link_to article ,class: "sidemenu__box" do
        .sidelink
          病理組織細胞学
    - @articles4.each do |article|
      = link_to article ,class: "sidemenu__box" do
        .sidelink
          臨床化学
    - @articles5.each do |article|
      = link_to article ,class: "sidemenu__box" do
        .sidelink
          臨床微生物学
    - @articles6.each do |article|
      = link_to article ,class: "sidemenu__box" do
        .sidelink
          臨床血液学
    = link_to root_path ,class: "sidemenu__box" do
      .sidelink
        TOPページへ
  .study-second__box
    %p.img-detail
      %b.img-detail__text
        = @article.title
    .movies
      = link_to @article.video_url.to_s do
        = image_tag(@article.video_url(:screenshot).to_s, id: "video", :alt => "screenshot")
        .playlogo
          %i.far.fa-play-circle
    .article-topic
      学習のコツ
    .article-memo
      = @article.memo
    .changes
      -if @prev != nil
        = link_to '◀︎ Back', article_path(@prev.id),class: "changes__transition"
      -else
        = link_to '◀︎ TOP', articles_path,class: "changes__transition"
      　　|　　
      -if @next != nil
        = link_to 'Next ▶︎', article_path(@next.id),class: "changes__transition"
      -else
        = link_to 'TOP ▶︎', articles_path,class: "changes__transition"
