%p#notice= notice
= render "./layouts/header"
.study-second
  %dl#accordion
    %dt
      %a{:href => "#"}
        オリエンテーション
    %dd
      - @sub1lesson1.each do |lesson|
        %a{:href => "#{lesson.id}"}
          lesson1
      - @sub1lesson2.each do |lesson|
        %a{:href => "#{lesson.id}"}
          lesson2
      - @sub1lesson3.each do |lesson|
        %a{:href => "#{lesson.id}"}
          lesson3
    %dt
      %a{:href => "#"} 
        臨床生理学
    %dd
      - @sub2lesson1.each do |lesson|
        %a{:href => "#{lesson.id}"}
          > lesson1
        ｜
      - @sub2lesson2.each do |lesson|
        %a{:href => "#{lesson.id}"}
          > lesson 2
        ｜
      - @sub2lesson3.each do |lesson|
        %a{:href => "#{lesson.id}"}
          > lesson 3
        |
    %dt
      %a{:href => "#"} 
        病理組織細胞学
    %dd
      - @sub3lesson1.each do |lesson|
        %a{:href => "#{lesson.id}"}
          > lesson1
        ｜
      - @sub3lesson2.each do |lesson|
        %a{:href => "#{lesson.id}"}
          > lesson 2
        ｜
      - @sub3lesson3.each do |lesson|
        %a{:href => "#{lesson.id}"}
          > lesson 3
        |
    %dt
      %a{:href => "#"} 
        臨床化学
    %dd
      - @sub4lesson1.each do |lesson|
        %a{:href => "#{lesson.id}"}
          > lesson1
        ｜
      - @sub4lesson2.each do |lesson|
        %a{:href => "#{lesson.id}"}
          > lesson 2
        ｜
      - @sub4lesson3.each do |lesson|
        %a{:href => "#{lesson.id}"}
          > lesson 3
        |
    %dt
      %a{:href => "#"} 
        臨床微生物学
    %dd
      - @sub5lesson1.each do |lesson|
        %a{:href => "#{lesson.id}"}
          > lesson1
        ｜
      - @sub5lesson2.each do |lesson|
        %a{:href => "#{lesson.id}"}
          > lesson 2
        ｜
      - @sub5lesson3.each do |lesson|
        %a{:href => "#{lesson.id}"}
          > lesson 3
        |
    %dt
      %a{:href => "#"} 
        臨床血液学
    %dd
      - @sub6lesson1.each do |lesson|
        %a{:href => "#{lesson.id}"}
          > lesson1
        ｜
      - @sub6lesson2.each do |lesson|
        %a{:href => "#{lesson.id}"}
          > lesson 2
        ｜
      - @sub6lesson3.each do |lesson|
        %a{:href => "#{lesson.id}"}
          > lesson 3
        |
    .sidemenu
      = link_to root_path ,class: "sidelink" do
        TOPページへ

  .study-second__box
    %p.img-detail
      %b.img-detail__text
        = @article.title
    .movies
      = link_to @article.video_url.to_s do
        -# = image_tag(@article.video_url(:screenshot).to_s, id: "video", :alt => "screenshot")
      %video#my-video.video-js{:controls => "", :controlslist => "nodownload", "data-setup" => "#{@article.video}", :height => "200", :alt => "screenshot", :poster => "#{@article.video_url(:screenshot).to_s}", :preload => "auto", :width => "400"}
        %source{:src => "#{@article.video}", :type => "video/mp4"}
        %source{:src => "#{@article.video}", :type => "video/webm"}
        %p.vjs-no-js
    .article-topic
      学習のコツ
    .article-memo
      = @article.memo
    .changes
      -if @prev != nil
        = link_to '◀︎ Back', article_path(@prev.id),class: "changes__transition"
      -else
        = link_to '◀︎ TOP', articles_path,class: "changes__transition"
      　　|　　
      -if @next != nil
        = link_to 'Next ▶︎', article_path(@next.id),class: "changes__transition"
      -else
        = link_to 'TOP ▶︎', articles_path,class: "changes__transition"
